blinker==1.8.2 ; python_version >= "3.8" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.8" and python_version < "3.14" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.2 ; python_version >= "3.8" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.8" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.14" and platform_system == "Windows"
cryptography==42.0.8 ; python_version >= "3.8" and python_version < "3.14"
dnspython==2.6.1 ; python_version >= "3.8" and python_version < "3.14"
extractous==0.3.0 ; python_version >= "3.8" and python_version < "3.14"
flask==3.0.3 ; python_version >= "3.8" and python_version < "3.14"
impacket==0.12.0 ; python_version >= "3.8" and python_version < "3.14"
importlib-metadata==8.5.0 ; python_version >= "3.8" and python_version < "3.10"
itsdangerous==2.2.0 ; python_version >= "3.8" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.8" and python_version < "3.14"
ldap3==2.9.1 ; python_version >= "3.8" and python_version < "3.14"
ldapdomaindump==0.10.0 ; python_version >= "3.8" and python_version < "3.14"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "3.14"
pyasn1-modules==0.4.2 ; python_version >= "3.8" and python_version < "3.14"
pyasn1==0.6.2 ; python_version >= "3.8" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.8" and python_version < "3.14" and platform_python_implementation != "PyPy"
pycryptodomex==3.23.0 ; python_version >= "3.8" and python_version < "3.14"
pyopenssl==24.0.0 ; python_version >= "3.8" and python_version < "3.14"
pyreadline3==3.5.4 ; python_version >= "3.8" and python_version < "3.14" and sys_platform == "win32"
python-magic==0.4.27 ; python_version >= "3.8" and python_version < "3.14"
setuptools==78.1.1 ; python_version >= "3.8" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.8" and python_version < "3.14"
werkzeug==3.0.6 ; python_version >= "3.8" and python_version < "3.14"
zipp==3.20.2 ; python_version >= "3.8" and python_version < "3.10"
